<div class="row">
	<div class="col s12 m6 offset-m3 l4 offset-l4">
		<form class="card" method="post" action="/user">
			<div class="card-content">
				<span class="card-title black-text">账户登录</span>
				<div class="input-field">
					<label>用户名 / Email</label>
					<input name="username" type="text" class="validate">
				</div>
				<div class="input-field">
					<label>密码</label>
					<input name="password" type="password" class="validate">
				</div>
				<div class="row">
					<p class="col s6">
						<input id="remember" type="checkbox">
						<label for="remember">记住我</label>
					</p>
					<p class="col s6 right-align"><a href="/user#reset">忘记密码？</a></p>
				</div>
				<input name="type" type="hidden" value="signin">
				<input class="captcha-input" name="{{captcha.imageFieldName}}" type="hidden">
			</div>
			<div class="card-action">
				<p>请选择以下图片中的 <b>{{captcha.imageName}}</b></p>
				<div class="row">
					{{#each captcha.values}}
					<div class="col s2">
						<img class="captcha-img" title="" alt="" data-index="{{@index}}" src="/captcha/image/{{@index}}?r={{../now}}">
					</div>
					{{/each}}
				</div>
				<p><button type="submit" class="waves-effect btn">登录</button></p>
				<!--<p>你也可以利用以下方式进行登录</p>-->
			</div>
			<div class="card-action">
				<div class="row">
					<p class="col s6"><a href="/user#activate">重发激活邮件</a></p>
					<p class="col s6 right-align"><a href="/user#signup">账户注册</a></p>
				</div>
			</div>
		</form>
	</div>
</div>