<div class="row">
	<div class="col s12 m6">
		<div class="input-field">
			<label>公众号名称</label>
			<input type="text" name="name" class="validate" value="{{model.name}}">
		</div>
		<div class="input-field">
			<label>微信号</label>
			<input type="text" name="code" class="validate" value="{{model.code}}">
		</div>
		<div class="input-field">
			<label>原始ID</label>
			<input type="text" name="sourceid" class="validate" value="{{model.sourceid}}">
		</div>
		<div class="input-field">
			<select name="type">
				<option value="{{type.SUBSCRIBE}}" {{#eq model.type type.SUBSCRIBE}}selected{{/eq}}>订阅号</option>
				<option value="{{type.SERVE}}" {{#eq model.type type.SERVE}}selected{{/eq}}>服务号</option>
			</select>
			<label>类型</label>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="input-field">
			<label>appId</label>
			<input type="text" name="appid" class="validate" value="{{model.appid}}">
		</div>
		<div class="input-field">
			<label>appSecret</label>
			<input type="text" name="appSecret" class="validate" value="{{model.appSecret}}">
		</div>
		<div class="input-field">
			<label>EncodingAESKey</label>
			<input type="text" name="encodingAESKey" class="validate" value="{{model.encodingAESKey}}">
		</div>
		<div class="input-field">
			<select name="method" value="{{model.method}}">
				<option value="{{method.UNENCRYPTED}}" {{#eq model.method method.UNENCRYPTED}}selected{{/eq}}>明文模式</option>
				<option value="{{method.COMPATIBLE}}" {{#eq model.method method.COMPATIBLE}}selected{{/eq}}>兼容模式</option>
				<option value="{{method.ENCRYPTED}}" {{#eq model.method method.ENCRYPTED}}selected{{/eq}}>安全模式(推荐)</option>
			</select>
			<label>消息加解密方式</label>
		</div>
	</div>
	<div class="col s12">
		<div class="input-field">
			<label class="active">Token</label>
			<input type="text" name="token" class="validate" value="{{model.token}}" readonly>
		</div>
		<div class="input-field">
			<label>介绍</label>
			<textarea name="intro" class="materialize-textarea">{{model.intro}}</textarea>
		</div>
	</div>
</div>