<div class="collapsible-header">
	<i class="mdi-image-blur-on"></i>
	{{#eq model.type type.SUBSCRIBE}}订阅号{{/eq}}
	{{#eq model.type type.SERVE}}服务号{{/eq}}
	- {{model.name}}
</div>
<div class="collapsible-body">
	<div class="collapsible-content">
	{{#with model}}
    <p class="row">
      <span class="col s12 m6"><b>微信号: </b>{{code}}</span>
			<span class="col s12 m6"><b>原始ID: </b>{{sourceid}}</span>
		</p>
		<p class="row">
			<span class="col s12 m6"><b>AppId(应用ID): </b>{{appid}}</span>
			<span class="col s12 m6"><b>AppSecret(应用密钥): </b>{{appSecret}}</span>
		</p>
		<p class="row">
			<span class="col s12 m6">
				<b>消息加解密方式: </b>
				{{#eq method ../method.UNENCRYPTED}}明文模式{{/eq}}
				{{#eq method ../method.COMPATIBLE}}兼容模式{{/eq}}
				{{#eq method ../method.ENCRYPTED}}安全模式(推荐){{/eq}}
			</span>
      <span class="col s12 m6 word-break"><b>EncodingAESKey(消息加解密密钥): </b><br>{{encodingAESKey}}</span>
		</p>
		<p class="row word-break"><span class="col s12"><b>介绍: </b><br>{{intro}}</span></p>
		<p class="row"><span class="col s12"><b>Token(令牌): </b>{{token}}</span></p>
		<p class="row word-break"><span class="col s12"><b>URL(服务器地址): </b><br>{{../url}}</span></p>
	{{/with}}
		<p class="right-align">
			<a class="btn waves-effect waves-light" href="/admin#keyword/{{model.objectId}}"><i class="mdi-communication-vpn-key left"></i>关键字</a>
      <a class="btn waves-effect waves-light" href="/admin#fans/{{model.objectId}}"><i class="mdi-social-people left"></i>粉丝</a>
			<a class="btn waves-effect waves-light btn-edit"><i class="mdi-image-edit left"></i>编辑</a>
			<a class="btn waves-effect waves-light btn-remove"><i class="mdi-content-clear left"></i>删除</a>
		</p>
  </div>
</div>